@CHARSET "ISO-8859-1";
td.t_usuarios___diferencia 
{
	font-weight:bold;
}

/*********************GRUPOS **************************************/
table.estados td.b-negativo,
#list_2_com_fabrik_2 tr.balanceg-positivo .t_grupos___creditos,
#list_2_com_fabrik_2 tr.balanceg-positivo .t_grupos___creditos_asignados,
#list_2_com_fabrik_2 tr.balanceg-positivo .t_grupos___diferencia,
#list_9_com_fabrik_9 tr.balanceg-positivo .t_seminarios___creditos,
#list_9_com_fabrik_9 tr.balanceg-positivo .t_seminarios___creditos_asignados,
#list_9_com_fabrik_9 tr.balanceg-positivo .t_seminarios___diferencia,
#list_8_com_fabrik_8 tr.balanceg-positivo .t_tutelas___creditos,
#list_8_com_fabrik_8 tr.balanceg-positivo .t_tutelas___creditos_asignados,
#list_8_com_fabrik_8 tr.balanceg-positivo .t_tutelas___diferencia
{
	background-color:#e3f4fc !important;
}

table.estados td.b-positivo,
#list_2_com_fabrik_2 tr.balanceg-negativo .t_grupos___creditos, 
#list_2_com_fabrik_2 tr.balanceg-negativo .t_grupos___creditos_asignados,
#list_2_com_fabrik_2 tr.balanceg-negativo .t_grupos___diferencia,
#list_9_com_fabrik_9 tr.balanceg-negativo .t_seminarios___creditos, 
#list_9_com_fabrik_9 tr.balanceg-negativo .t_seminarios___creditos_asignados,
#list_9_com_fabrik_9 tr.balanceg-negativo .t_seminarios___diferencia,
#list_8_com_fabrik_8 tr.balanceg-negativo .t_tutelas___creditos, 
#list_8_com_fabrik_8 tr.balanceg-negativo .t_tutelas___creditos_asignados,
#list_8_com_fabrik_8 tr.balanceg-negativo .t_tutelas___diferencia
{
	background-color:#f7d9d9 !important;
}

.tdgrey, .grupo_grande {
	background-color: #efefef !important;
}
.grupo_pequeno {
	background-color: #ffffff !important;
}

/*******************SOLICITUDES*************************************/

#list_3_com_fabrik_3 .validada1 .t_solicitudes___id, 
#list_3_com_fabrik_3 .validada1 .t_solicitudes___validada, 
#list_3_com_fabrik_3 .validada1 .t_solicitudes___abierta
{
	background-color:#f0ffe2 !important;
}
#list_3_com_fabrik_3 .abierta1 .t_solicitudes___id, 
#list_3_com_fabrik_3 .abierta1 .t_solicitudes___abierta, 
#list_3_com_fabrik_3 .abierta1 .t_solicitudes___validada
{
	background-color:#feffda !important;
}


#list_5_com_fabrik_5 .balancepositivo .t_usuarios___diferencia,
#list_5_com_fabrik_5 .balancepositivo .t_usuarios___nombre
{
	background-color:#ffeaea;
}
#list_5_com_fabrik_5 .balancenegativo .t_usuarios___diferencia,
#list_5_com_fabrik_5 .balancenegativo .t_usuarios___nombre
{
	background-color:#f1fbff !important;
}
/********************************************************************/
.chzn-container-single .chzn-single
{
	border: 1px solid #ccc;
	background:#fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.chzn-results li.highlighted
{
    background-color: #C40722 !important;
    background-image: none !important;
    color: #fff;
}
#form-login-remember
	{
	display:none;
}
	
.download-archive{
	margin-left:10px;
}
.fabrikDataContainer{
	margin-top:10px;
}
/*table.estados td{
	padding: 3px 10px;
	border:1px solid #ccc;
	font-size:10px;
}*/
#list_5_com_fabrik_5 tr.bloqueado1
{
	color:#ccc;
}

/*********************************************************************/
/* NUEVOS ESTILOS AÑADIDOS POR EAG*/
.container-fluid
{
	padding:20px;
}
.footer
{
	padding:0px 10px;
}

div.contact dt
{
	display:none;
}
.dl-horizontal dd
{
	margin-left:0px;
}
.contact-form legend
{
	font-size:13px;
	font-weight:bold;
}
.contact-form input, textarea, .uneditable-input
{
	width:80%;
}
#jform_contact_email_copy
{
	width:20px;
}
header.header
{

	background-image:url('../img/us.png');
	background-repeat:no-repeat;
	background-position:bottom right;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.header-logo
{
	min-width:340px;
	color:#B60C25;
	float:left;

}
.header-logo img
{
	max-width: 250px;
}
.logotipo
{
	float:left;
	margin-right:10px;
	padding-right:10px;
	height:auto;
	border-right:1px solid #ccc;
}
.titulo
{
	float:left;
}
.site-title, .site-description
{
	font-family: "Open Sans Condensed", sans-serif;
	text-align:left;
 	color: #952434;
 	font-size:15px;
 	letter-spacing:2px;
}
.site-title
{
	letter-spacing:2px;
	font-family: "Open Sans Condensed", sans-serif;
	font-size:20px;
	color:#be9d56;
	font-weight:normal;
	line-height: 25px;
    margin-top: 25px;
}
.brand
{
	color:rgb(182,12,37);
}
h1, h2, h3, h4, h5, h6
{
	font-weight:normal;
}
h1 {
	font-size: 24px;
	line-height: 26px;
}
h2 {
	font-size: 22px;
	line-height: 24px;
}
h3 {
	font-size: 16px;
	line-height: 18px;
}
h4 {
	font-size: 14px;
	line-height: 16px;
}
h5 {
	font-size: 13px;
	line-height: 15px;
}
h6 {
	font-size: 12px;
	line-height: 14px;
}
div.page-header{
	text-align:center;
}
.btn
{
		margin:0px 3px;
}
.btn-primary
{
	background-color: #01A7B7 !important;
	border-color:#999;
	text-shadow:none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	transition: all 0.15s ease-in;
	color: #333;
	background-color: #F9BB11 !important;
	border-color:#999;
	/*background-color: #003bb3;*/
}
.btn-primary:active,
.btn-primary.active {
	background-color: #FFC114;
}
a:hover,
a:focus {
	color: #EBAC00;
	text-decoration: underline;
}

.input-small {
	width: 125px;
}
input[type="search"]
{
	height:16px !important;
	line-height:16px !important;
}
.userdata-horizontal #form-login-username, 
.userdata-horizontal #form-login-password,
.userdata-horizontal #form-login-submit
{
	float:left;
	margin:5px 5px;
}
.userdata-horizontal #form-login-submit button
{
	margin:0px;
}
.userdata-horizontal #form-login-actions
{

}
.userdata-horizontal #form-login-actions div
{
	float:right;
	font-size:10px;
}
.logout-button .btn
{
	float:right;
}

h4.alert-heading {color:#468847}
.col-icono
{

	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}

div.col-icono a {color:#333;display: block;width: 100%;height: 100%;}
div.col-icono a i {color:#BE9D56;}
div.col-icono a:hover {text-decoration:none;}
div.col-icono a:hover i {transition: all 0.3s ease-in;color:#01A7B7;}

div.navegacion-formulario div.paso
{
	height:80px;
	text-align:center;
	vertical-align:middle;
	background-color:#fff;
	margin-top:20px;
}
div.activo
{
	color:#A71026 !important;
}
div.paso
{
	font-size:14px;
	line-height:22px;
	color:#333;
}

i.icon-question-sign {display:none}
div.fabrikElement {	float:left;}
span.tip {font-size:11px; font-style:italic;font-color:#666;}
div.documentacion-entregar
{
	font-size:11px;
}
div.controls > span, .consejo
{
	margin-left:20px;
	font-style:italic;
	color:#666;
	font-size:11px;
}
#list_6_com_fabrik_6 tr.estado4
{
	color:#666;
	font-style:italic;
}
div.plg-fileupload > label
{
	/*display:none;*/
}
div.plg-fileupload > div
{
	margin-left:0px !important;
}

#listform_5_com_fabrik_5 tbody .t_usuarios___orden {
	font-size:0;
	text-align: center;
}

#listform_5_com_fabrik_5 tbody .t_usuarios___orden:hover {
	cursor: move;
}

#listform_5_com_fabrik_5 tbody .t_usuarios___orden:before {
	font-family: "Font Awesome 5 Free";
   	content: "\f0b2";
   	display: inline-block;
   	padding-right: 3px;
   	vertical-align: middle;
   	font-weight: 900;
   	font-size: 15px;
   	color: #666666;
}

/*Estilos para inline edit*/
#list_7_com_fabrik_7 .t_cursos___curso:hover, .t_cursos___abierto:hover, 
#list_7_com_fabrik_7 .t_categorias___nivel:hover,
#list_7_com_fabrik_7 .t_categorias___categoria:hover,
#list_7_com_fabrik_7 .t_categorias___codigo:hover,
#listform_4_com_fabrik_4 .t_titulaciones___titulacion:hover,
#listform_1_com_fabrik_1 .t_asignaturas___codigo:hover,
#listform_1_com_fabrik_1 .t_asignaturas___denominacion:hover,
#listform_1_com_fabrik_1 .t_asignaturas___curso:hover,
#listform_1_com_fabrik_1 .t_asignaturas___cuatrimestre:hover,
#listform_1_com_fabrik_1 .t_asignaturas___asignatura:hover,
#listform_1_com_fabrik_1 .t_asignaturas___coordinador:hover,
#listform_1_com_fabrik_1 .t_asignaturas___tipo_grupo:hover,
#listform_15_com_fabrik_15 .t_grupos___grupo:hover, 
#listform_15_com_fabrik_15 .t_grupos___tipo_grupo:hover,
#listform_15_com_fabrik_15 .t_grupos___grupo_grande:hover,
#listform_15_com_fabrik_15 .t_grupos___horario:hover,
#listform_15_com_fabrik_15 .t_grupos___creditos:hover,
#listform_13_com_fabrik_13 .t_seminarios___seminario:hover, 
#listform_13_com_fabrik_13 .t_seminarios___tipo_grupo:hover,
#listform_13_com_fabrik_13 .t_seminarios___horario:hover,
#listform_13_com_fabrik_13 .t_seminarios___creditos:hover,
 {
	cursor: pointer;
}