body {
    font-family: 'Open Sans', sans-serif;
}

.container-fluid {
	max-width: 1920px;
    margin: 0 auto;
}

body.site { padding-top: 5px; }

#content {
	padding-top: 10px;
}

h1,h2,h3,h4,h5,h6,.site-title {
	font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

h1 {
	color: #01A7B7;
}

a {
	color: #01A7B7;
}

.letra-gr p {
	font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 2em;
    text-align: justify;
}

.pt-0 {	padding-top: 0; }
.pb-0 {	padding-bottom: 0; }

.btn {
	transition: all 0.3s ease-in;
	background-image: none;
}

.btn:focus, .btn:hover {
	transition: all 0.15s ease-in;
	background-image: none;
}

.table .btn-group a.btn {
	color: #01A7B7;
}

.table .btn-group a.btn:hover, .table .btn-group a.btn:focus {
	color: #66727D;
	cursor: pointer;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
	background-color: oldlace;
}

a {
	transition: all 0.15s ease-in;
}

.site-title-bar {
	background-color: #01A7B7;
	padding: 1px;
}

.site-title-bar h2 {
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	line-height: 10px;
}

.fabrik_filter.search-query {
	padding-top: 8px;
    margin-top: 4px;
    padding-bottom: 8px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    padding-left: 40px;
    float: right;
}

/*Miga de pan*/
.breadcrumb {
    margin: 0;
    background-color: #66727D;
}

.breadcrumb > li {
	text-shadow: none;
	color: #ffffff;
}

.breadcrumb > li a {
	color: #ffffff;
}

.breadcrumb > .active {
	color: #fab700;
	text-transform: uppercase;
	font-size: 20px;
}

.breadcrumb li:first-child {
	padding-left: 40px;
}

/*Barra lateral*/
.nav-lateral {
	padding-bottom: 4px;
	background-color: oldlace;
}

.nav-lateral li {
	background-color: oldlace;
	margin-bottom: 0px;
	/*background-image: url("../img/bk-menu-lat.gif");*/
	background-repeat: no-repeat;
	background-position: left 4px;
	/*border-bottom: 2px solid #ddd;*/
}

.nav-lateral li a, .nav-lateral li span.separator {
	padding: 8px 10px 8px 15px;
	display: block;
	transition: all 0.3s ease;
}

.nav-lateral li a:hover,.nav-lateral li a:focus {
	color: #01A7B7;
	background-color: none !important;
}

.nav-lateral li.active ul.nav-child li a:hover, .nav-lateral li.active ul.nav-child li a:focus, .nav-lateral .nav-child a:focus, .nav-lateral .nav-child a:hover {
	color: #01A7B7;
	text-decoration: none;
}

.nav-lateral li.active {
	background-color: #BE9D56;
	background-image: url("../img/bk-menu-lat-activo2.gif");
	background-position: -5px center;
}

.nav-lateral li.active a, .nav-lateral li.active span.separator  {
	color: #ffffff;
}

.nav-lateral a, .nav-lateral li span.separator {
	color: #66727D;
	font-size: 1.1em;
}

.nav-lateral li.active ul.nav-child li a {
	color: #66727D;
}

.nav-lateral li a:hover {
	background-color: transparent !important;
}

.nav-child li {
	padding: 0px;
	background-image: none;
	margin: 0;
	padding-left: 22px;
}

.nav-child li a, .nav-child li span.separator {
	border-left: 5px solid #ddd;
}

.nav-child li.active {
	background-image: none;
	background-color: oldlace;
	background-image: url("../img/bk-menu-lat-activo2.gif");
	background-repeat: no-repeat;
	background-position: -5px center;
}

.nav-child li.active a {
	background-color: #EEEEEE;

}

.nav-lateral .fa, .nav-lateral .fas, .nav-lateral .far {
	min-width: 20px;
    text-align: center;
}

.nav-lateral .nav-child {
}

.nav-lateral .nav-child a, .nav-lateral .nav-child span.separator {
	padding-left: 5px;
}

.menuitem {

}


.sidebar-collapse {
	max-width: 70px;
}

.sidebar-toggle {
	background-color: #cccccc !important;
    padding: 6px 13px;
    text-align: right;
}

.sidebar-toggle i {
	color: #ffffff;
}

.sidebar-toggle-expanded, .sidebar-toggle-collapsed {
	cursor: pointer;
}
.sidebar-toggle-expanded i, .sidebar-toggle-collapsed i
{
	font-size: 23px;
}

.sidebar-collapse .nav-lateral li.active {
	background-position: -10px center;
}


.content-sidebar {
	/*margin-left: 85px;*/
	transition: all 0.15s ease;
	min-height: 600px;
}

.dbreadcrumbs-collapse {
	/*margin-left: 60px;*/
}


/*Fabrik*/
.fabrikDataContainer .table th, .fabrikDataContainer .table td {
	vertical-align: middle;
}

.fabrikDataContainer .table th {
	text-transform: uppercase;
	border-bottom: 2px solid #ddd;
}

.table {
	width: inherit;
}

.table th span {
	white-space: pre-line;
}

fieldset.leyenda {
	border: 1px solid #ddd;
    padding: 10px;
    margin: auto;
}

fieldset.leyenda legend {
    display: inherit;
    width: auto;
    padding: 0px 10px;
    margin-bottom: auto;
    font-size: 14px;
    line-height: 14px;
    color: inherit;
    border: none;
    border-bottom: 0px solid #e5e5e5;
}

.fabrikButtonsContainer.navbar .nav > li > a:focus {
	outline: 2px solid transparent;
}

.fabrikButtonsContainer.navbar .nav > li > a:hover {
	background-color: #e6e6e6;
}

.fabrikButtonsContainer.navbar .dropdown-menu > li > a:hover {
	cursor: pointer;
	background-color: #01A7B7;
}

table.estados td {
    border: 1px solid #ccc;
    font-size: 10px;
    padding: 3px 10px;
}

fieldset.fabrikGroup, fieldset.radio.btn-group {
	padding: 0;
	margin: 0;
	border: 0;
}

fieldset.fabrikGroup legend, fieldset.radio.btn-group legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 18px;
	font-size: 19.5px;
	line-height: 36px;
	color: #333;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

.nav-buttons {
	margin-bottom: 0px;
}

.related_data:hover {
	text-decoration: none;
}

.fabrik_groupheading.info > td
{
	background-color: #66727D !important;
    background-repeat: repeat-x;
	padding:8px;
}
.fabrik_groupheading {
	
}

.fabrik_groupheading a {
	color: #ffffff;
	text-transform: uppercase;
}

.fabrik_groupheading a:hover, .fabrik_groupheading a:focus {
	color: #fefefe;
	text-decoration: none;
}

/*Forms*/
.form-horizontal .control-label {
    color: #66727D;
    font-weight: bold;
    text-align: left;
    border-bottom: 1px dotted #ddd;
}
.form-actions {
    background-color: oldlace;
    border-top-width: : 0px;
}
.fabrikTip.tip-small {
    background-color: #01A7B7;
    color: #fff;
    padding: 6px 15px;
    font-size: 18px;
    width: auto;
    height: auto;
    border-radius: 0px;
}

/*Botón volver arriba*/
.back-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: all 0.3s ease-in;
}
#back-top {
	display: none;
}
#back-top:hover {
	text-decoration: none;
}

div.fabrikElement {
	width: 100%;
}

div.fabrikElement .input-xxlarge {
	width: 100%;
}
div.fabrikElement .input-medium {
	width: 99%;
}

.repeatGroupTable {
	width: 100%;
}

.fabrikRepeatGroup___t_solicitudes_grupos___asignaturas .chzn-container, 
.fabrikRepeatGroup___t_solicitudes_grupos___grupos .chzn-container,
.fabrikRepeatGroup___t_solicitudes_seminarios___asignaturas .chzn-container,
.fabrikRepeatGroup___t_solicitudes_seminarios___seminarios .chzn-container {
	width: 100% !important;
}

.fabrikRepeatGroup___t_solicitudes_grupos___grupos, .fabrikRepeatGroup___t_solicitudes_seminarios___seminarios {
	width: 60%;
}

.fabrikRepeatGroup___t_solicitudes_grupos___asignaturas, .fabrikRepeatGroup___t_solicitudes_seminarios___asignaturas {
	width: 35%;
}

.fabrikGroup.form-horizontal .control-group {
	margin-bottom: 5px;
}

.modal .modal-header  {
	background-color: #01A7B7;
	color: #ffffff;
	text-align: center;
}

div.modal {
	border: 3px solid rgba(255,255,255,0.5);
}

td ul.fabrikRepeatData li{
	
}

td.t_solicitudes_grupos___creditos_asignados,
td.t_solicitudes_tutelas___creditos_asignados, 
td.t_solicitudes_seminarios___creditos_asignados {
	padding: 5 !important;
}

.fabrikRepeatData > li {
	border-bottom-width: 0px !important;
}

.fabrikRepeatData > li {
	padding: 5px 0 !important;
	min-height: 25px;
}

.fabrikRepeatData > li i{
	margin-top: -3px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.nav-lateral li a, .nav-lateral li span.separator{
		    padding: 8px 5px 8px 5px;
	}
	.nav-child li {
		padding-left: 8px;
	}
}

@media (max-width: 968px) {
	header.header {
		background-image: none;
	}

	.site-title-bar h2 {
		font-size: 12px;
	}
}